/* ==========================================================================
   scrolly / component
   ========================================================================== */

.has-js {
    [data-scrolly='fromBottom'] {
        opacity: 0;
        transform: translateY(60px);
        transition: all 0.4s ease-out;

        &.is-active {
            opacity: 1;
            transform: translateY(0);
        }
    }

    [data-scrolly='fromLeft'] {
        opacity: 0;
        transform: translateX(-60px);
        transition: all 0.4s ease-out;

        &.is-active {
            opacity: 1;
            transform: translateX(0);
        }
    }

    [data-scrolly='fromRight'] {
        opacity: 0;
        transform: translateX(60px);
        transition: all 0.4s ease-out;

        &.is-active {
            opacity: 1;
            transform: translateX(0);
        }
    }

    [data-scrolly='scaleDown'] {
        transform: scale(1.1);
        transition: all 1s ease-out;

        &.is-active {
            transform: scale(1);
        }
    }

    // À titre d'exemple seulement, demande un peu plus de
    // planification car il faut mettre perspective + transform-style
    // sur le parent
    .cards {
        perspective: 1000px;
        transform-style: preserve-3d;
    }
    [data-scrolly='flipFromBottom'] {
        opacity: 0;
        transform: rotateX(90deg) translate3d(0, 60px, 0);
        transition: all 0.4s ease-out;

        &.is-active {
            opacity: 1;
            transform: rotateX(0) translate3d(0, 0, 0);
        }
    }
}
