{% include '_partials/_header.html' %}

<div class="hero hero--compact">
    <div class="hero__media">
        <img src="assets/images/hero.jpg" alt="CE TEXTE DOIT ÊTRE REMPLACÉ" />
    </div>
    <div class="hero__content">
        <div class="wrapper">
            <h1>nom du jeu</h1>
        </div>
    </div>
</div>

<section class="section">
    <div class="wrapper game">
        <div class="game__content">
            <p>
                <strong
                    >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras nisi odio, vulputate nec felis ac,
                    varius pellentesque sem. Vestibulum faucibus commodo aliquet. Integer sit amet volutpat turpis. Cras
                    eu porttitor risus. Sed eros urna, tristique quis magna at, malesuada luctus nunc. Nulla eleifend
                    fringilla nunc, at venenatis urna. Quisque eget nibh malesuada, cursus diam porttitor, porta libero.
                    Ut posuere, tellus eu scelerisque pretium, arcu nisl eleifend magna, sed pellentesque augue lectus
                    id dui. Ut suscipit, magna quis laoreet tempus, neque nunc efficitur nunc, pellentesque finibus urna
                    tortor et est. Aliquam varius arcu sit amet lobortis blandit. Vivamus leo ipsum, imperdiet id
                    sagittis ut, malesuada vitae augue. Proin tempor enim at lectus tincidunt, fermentum rutrum nunc
                    sagittis.</strong
                >
            </p>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras nisi odio, vulputate nec felis ac, varius
                pellentesque sem. Vestibulum faucibus commodo aliquet. Integer sit amet volutpat turpis. Cras eu
                porttitor risus. Sed eros urna, tristique quis magna at, malesuada luctus nunc. Nulla eleifend fringilla
                nunc, at venenatis urna. Quisque eget nibh malesuada, cursus diam porttitor, porta libero. Ut posuere,
                tellus eu scelerisque pretium, arcu nisl eleifend magna, sed pellentesque augue lectus id dui. Ut
                suscipit, magna quis laoreet tempus, neque nunc efficitur nunc, pellentesque finibus urna tortor et est.
                Aliquam varius arcu sit amet lobortis blandit. Vivamus leo ipsum, imperdiet id sagittis ut, malesuada
                vitae augue. Proin tempor enim at lectus tincidunt, fermentum rutrum nunc sagittis.
            </p>
        </div>
        <div class="game__meta">
            <h4>Réalisateur</h4>
            <p>Shigeru Miyamoto</p>

            <h4>Date de sortie</h4>
            <p>1 janvier 1970</p>

            <h4>Genre</h4>
            <p>Action, Sandbox</p>

            <h4>Classement</h4>
            <p>4⭐️</p>
        </div>
    </div>
</section>

<section class="section">
    <div class="wrapper">
        <h2>Galerie photos</h2>

        <!-- Cards -->
        <div class="gallery">
            <div class="gallery__card">
                <div class="gallery__media">
                    <img src="assets/images/hero.jpg" alt="CE TEXTE DOIT ÊTRE REMPLACÉ" />
                </div>
                <p>Légende photo 1</p>
            </div>
            <div class="gallery__card">
                <div class="gallery__media">
                    <img src="assets/images/hero.jpg" alt="CE TEXTE DOIT ÊTRE REMPLACÉ" />
                </div>
                <p>Légende photo 2</p>
            </div>
            <div class="gallery__card">
                <div class="gallery__media">
                    <img src="assets/images/hero.jpg" alt="CE TEXTE DOIT ÊTRE REMPLACÉ" />
                </div>
                <p>Légende photo 3</p>
            </div>
        </div>
    </div>
</section>

{% include '_partials/_footer.html' %}
