{% include '_partials/_header.html' %}

<div class="hero">
    <div class="hero__media">
        <img src="assets/images/hero.jpg" alt="CE TEXTE DOIT ÊTRE REMPLACÉ" />
    </div>
    <div class="hero__content">
        <div class="wrapper">
            <h1>jouez <br />avec <br />nous</h1>
            <a href="liste-jeux.html" class="btn">Voir nos jeux</a>
        </div>
    </div>
</div>

<section class="section">
    <div class="wrapper">
        <h2 class="section__title">Nos plus récents jeux</h2>
        <p>
            Dans le cadre de nos compétitions Esports, nous favorisons une panoplie de jeux riches qui ont été adaptés
            par les différentes développeurs selon nos critères. C’est pourquoi nous évoluons dans des environnements
            uniques et exclusifs qui sont propre à e.tim!
        </p>

        <!-- Cards -->
        <div class="cards">
            <a href="detail.html" class="card">
                <div class="card__media">
                    <img src="assets/images/hero.jpg" alt="CE TEXTE DOIT ÊTRE REMPLACÉ" />
                </div>
                <div class="card__content">
                    <h3 class="card__title">Nom du jeu</h3>
                </div>
            </a>
            <a href="detail.html" class="card">
                <div class="card__media">
                    <img src="assets/images/hero.jpg" alt="CE TEXTE DOIT ÊTRE REMPLACÉ" />
                </div>
                <div class="card__content">
                    <h3 class="card__title">Nom du jeu</h3>
                </div>
            </a>
        </div>
    </div>
</section>

<section class="section section--callout">
    <div class="wrapper">
        <h2 class="section__title">Les <em>perks</em> d'être membre</h2>
        <ul class="perks">
            <li class="perk">
                <span>01</span>
                <p>Lorem un perks amet bla bla bla ipsum sit dolor amet</p>
            </li>
            <li class="perk">
                <span>02</span>
                <p>Lorem un perks amet bla bla bla ipsum sit dolor amet</p>
            </li>
            <li class="perk">
                <span>03</span>
                <p>Lorem un perks amet bla bla bla ipsum sit dolor amet</p>
            </li>
            <li class="perk">
                <span>04</span>
                <p>Lorem un perks amet bla bla bla ipsum sit dolor amet</p>
            </li>
            <li class="perk">
                <span>05</span>
                <p>Lorem un perks amet bla bla bla ipsum sit dolor amet</p>
            </li>
        </ul>
    </div>
</section>

{% include '_partials/_footer.html' %}
